<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Home</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body id = "body" class = "container-fluid">
    
    <h1 id = "title" class="display-1 text-center"><small class="text-muted">my</small>MakeUpForMe</h1>

    
    <div class = "text-center">
    <form>
    <button id = "button" class = "btn btn-secondary w-50 h-50 responsive-width mt-5" formaction="/signup" formmethod="GET" type="submit"> Sign Up </button>
    </form>
    
    <form>
    <button id = "button" class = "btn btn-secondary w-50 h-50 responsive-width mt-5" formaction="/login" formmethod="GET" type="submit">Login</button>
    </form>
    

    <form>
    <button id = "button" class = " btn btn-secondary w-50 h-50  mt-5" formaction="/adminLogin" formmethod="GET" type="submit"> Admin Login</button>
    </form>
    </div>
         

    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix -->

  </body>
</html>